{% extends "navbar/base.html" %}

{% block scripts %}
	<script src="/static/internal/events/create/js/script.js"></script>
{% endblock %}

{% block body_content %}
	{{ super() }}
	<div class="row">
		<h1 class="col-xs-12 text-center">Create Event</h1>
		<div class="col-xs-12">
			<div class="form-group">
				<label for="event-name">Event Name</label>
				<input type="text" class="form-control" id="event-name" placeholder="Mad Lads State">
			</div>
		</div>
		<div class="col-xs-12">
			<button id="create-event" type="button" class="btn btn-primary btn-lg btn-block">Create Event</button>
		</div>
	</div>
{% endblock %}