<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/static/external/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/external/css/bootstrap-theme.min.css">
	{% block head %}
	{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block scripts %}
	<script src="/static/external/js/jquery-3.1.1.min.js"></script>
	<script src="/static/external/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
