<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<!-- Global CSS -->
	<link rel="stylesheet" href="../static/external/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/external/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../static/external/css/toastr.2.1.3.min.css">
	<link rel="stylesheet" href="../static/internal/css/well.css">
	<!-- Page Dependant CSS -->
	<script>
		var staticContentPath = '../static';
	</script>
</head>
<body>
<div id="achilles-navbar"></div>
<div class="container">
	<h1 class="text-center">Scout a Match.</h1>
	<div id="vue-app">
		<form class="form-horizontal" role="form">
			<hr>

			<!-- Pre-Match -->
			<div>
				<h2 class="text-center">Pre-Match</h2>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Event:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="event_name">
								<option value="practice">Practice</option>
								<option value="granite-state">Granite State</option>
								<option value="greater-boston">Greater Boston</option>
								<option value="pine-tree">Pine Tree</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Match:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<div class="input-group">
								<div class="input-group-addon">Q</div>
								<input type="number" class="form-control" v-model.number="match_number" >
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Team Number:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<input type="number" class="form-control" v-model.number="team_number">
						</div>
					</div>
				</div>
			</div>
			<hr>

			<!-- Autonomous -->
			<div>
				<h2 class="text-center">Autonomous</h2>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" v-model="auto_line_cross"> Line Cross
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="auto_low_goal"> Low Goal
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="auto_hopper"> Hopper
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="auto_collect"> Collect
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Gear Position:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="auto_gear_pos">
								<option value="none">None</option>
								<option value="left">Left</option>
								<option value="middle">Middle</option>
								<option value="right">Right</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">High Goal Shot From:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="auto_high_goal_pos">
								<option value="none">Didn't Shoot</option>
								<option value="key">Key</option>
								<option value="wall">Wall</option>
								<option value="afar">Afar</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<!-- Tele Op -->
			<div>
				<h2 class="text-center">Tele Op</h2>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Total Hoppers:</label>
					<div class="input-group col-lg-9">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" v-on:click="total_hoppers -= 1"><span class="glyphicon glyphicon-minus"></span></button>
						</span>
						<input type="number" class="form-control col-xs-4" v-model.number="total_hoppers">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" v-on:click="total_hoppers += 1"><span class="glyphicon glyphicon-plus"></span></button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" v-model="collected_from_hopper"> Collected from Hopper
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Total Gears:</label>
					<div class="input-group col-lg-9">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" v-on:click="total_gears -= 1"><span class="glyphicon glyphicon-minus"></span></button>
						</span>
						<input type="number" class="form-control col-xs-4" v-model.number="total_gears">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" v-on:click="total_gears += 1"><span class="glyphicon glyphicon-plus"></span></button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" v-model="got_gear_from_human"> Got gear from Human Player
						</label>
						<br>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="got_gear_from_floor"> Got gear from Floor
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" v-model="high_goal_shoot_from_key"> High Goal Shoot from Key
						</label>
						<br>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="high_goal_shoot_from_wall"> High Goal Shoot from Wall
						</label>
						<br>
						<label class="checkbox-inline">
							<input type="checkbox" v-model="high_goal_shoot_from_afar"> High Goal Shoot from Afar
						</label>
					</div>
				</div>
			</div>
			<hr>

			<!-- Post Match -->
			<div>
				<h3 class="text-center"> Post-Match</h3>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Gear Dispense Method:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="gear_dispense_method">
								<option value="none">No Gear Capabilities</option>
								<option value="actuated">Actuated</option>
								<option value="passive">Passive</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Gears Rating:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="gear_rating">
								<option value="bad">Bad</option>
								<option value="neutral">Neutral</option>
								<option value="good">Good</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Low Goal Rating:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="low_goal_rating">
								<option value="ds">Didn't Shoot</option>
								<option value="cs">Can't Shoot</option>
								<option value="bad">Bad</option>
								<option value="neutral">Neutral</option>
								<option value="good">Good</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">High Goal Rating:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="high_goal_rating">
								<option value="ds">Didn't Shoot</option>
								<option value="cs">Can't Shoot</option>
								<option value="bad">Bad</option>
								<option value="neutral">Neutral</option>
								<option value="good">Good</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Climb Rating:</label>
					<div class="col-lg-8">
						<div class="ui-select">
							<select class="form-control" v-model="climb_rating">
								<option value="bad">Bad</option>
								<option value="neutral">Neutral</option>
								<option value="good">Good</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label">Match Notes ({{ 200 - notes.length }} Chars Remaining):</label>
					<div class="col-lg-8">
						<textarea class="form-control" rows="3" v-model="notes"></textarea>
					</div>
				</div>
			</div>
			<hr>

			<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="save">Save Changes</button>
			<br>
			<button type="button" class="btn btn-danger btn-lg btn-block" v-on:click="loadSavedData">Discard Changes</button>
			<br>
		</form>
	</div>
</div>
<!-- Global Scripts -->
<script src="../static/external/js/jquery-3.1.1.min.js"></script>
<script src="../static/external/js/vue.js"></script>
<script src="../static/external/js/bootstrap.min.js"></script>
<script src="../static/external/js/toastr.2.1.3.min.js"></script>
<script src="../static/external/js/query-string.js"></script>
<script src="../static/internal/js/alerts.js"></script>
<script type="text/javascript" src="../cordova.js"></script>
<script src="../static/internal/js/navbar_component.js"></script>
<!-- Page Dependant Scripts -->
<script src="../static/internal/js/sound.js"></script>
<script src="script.js"></script>
</body>
</html>
