<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<!-- Global CSS -->
	<link rel="stylesheet" href="../static/external/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/external/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../static/external/css/toastr.2.1.3.min.css">
	<link rel="stylesheet" href="../static/internal/css/well.css">
	<!-- Page Dependant CSS -->
	<script>
		var staticContentPath = '../static';
	</script>
</head>
<body>
<div id="achilles-navbar"></div>
<div class="container">
	<div id="vue-app">
		<form class="form-horizontal">
			<h1 class="text-center">Settings</h1>
			<div class="form-group row">
				<label class="col-lg-3 control-label">Scout Name:</label>
				<div class="col-lg-8">
					<div class="ui-select">
						<input type="text" class="form-control" v-model="scoutName">
					</div>
				</div>
			</div><div class="form-group row">
				<label class="col-lg-3 control-label">Server Password:</label>
				<div class="col-lg-8">
					<div class="ui-select">
						<input type="text" class="form-control" v-model="serverPassword">
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="save">Save Changes</button>
			<br>
			<button type="button" class="btn btn-danger btn-lg btn-block" v-on:click="loadSavedData">Discard Changes</button>
			<br>
		</form>
	</div>
</div>
<!-- Global Scripts -->
<script src="../static/external/js/jquery-3.1.1.min.js"></script>
<script src="../static/external/js/vue.js"></script>
<script src="../static/external/js/bootstrap.min.js"></script>
<script src="../static/external/js/toastr.2.1.3.min.js"></script>
<script src="../static/external/js/query-string.js"></script>
<script src="../static/internal/js/alerts.js"></script>
<script type="text/javascript" src="../cordova.js"></script>
<script src="../static/internal/js/navbar_component.js"></script>
<!-- Page Dependant Scripts -->
<script src="../static/internal/js/sound.js"></script>
<script src="script.js"></script>
</body>
</html>
